
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}


form {
  display: flex;
  flex-direction: column;  
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}


input, label, button {
  margin-bottom: 10px;
  font-size: 14px;
}


input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  padding: 10px;
  border: none;
  background: rgb(10, 102, 194);
  color: rgb(245, 239, 239);
  border-radius: 5px;
  cursor: pointer;
}


